<div ng-controller="sampleCtrl">
<h1>Explain data binding in AngularJS.</h1>
<p>According to AngularJS.org, “Data-binding in Angular apps is the automatic synchronization of data between the model and view components. The way that Angular implements data-binding lets you treat the model as the single-source-of-truth in your application. The view is a projection of the model at all times. When the model changes, the view reflects the change and vice versa.”</p>

<h2>There are two ways of data binding:</h2>
<ul>
    <li>Data mining in classical template systems</li>
    <li>Data binding in angular templates</li>
</ul>
</div>